.dialogueRoot {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-property: translate;
    transition-duration: 0.3s;
}

.sceneBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.characterPortrait {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('project://database/Assets/Resources/Characters/hifu.png?fileID=1864219160&guid=ea4f0ffd8a162ba4e95d168e412062b7&type=3#Hifumi_1');
    -unity-background-scale-mode: scale-to-fit;
}

.dialogueBox {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 25%;
}

.dialogueHeader {
    width: 70%;
    height: 20%;
    background-image: url('project://database/Assets/_Project/Art/Sprites/UI/main_buttons.png?fileID=95878541&guid=2e0808dfba1f4ca4f87970b14a0d1dd9&type=3#main_buttons_143');
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(176, 236, 21);
    -unity-font: url('project://database/Assets/_Project/Fonts/Originals/NotoSansJP-VariableFont_wght.ttf?fileID=12800000&guid=01afdbb2366b91e48b3e0068999d14fb&type=3#NotoSansJP-VariableFont_wght');
    -unity-font-definition: url('project://database/Assets/_Project/Fonts/TMPro/NotoSansJP-VariableFont_wght%20SDF%201.asset?fileID=11400000&guid=fd80558de3c0dd44a803afb97296f897&type=2#NotoSansJP-VariableFont_wght SDF 1');
}

.characterNameText {
    -unity-font: url('project://database/Assets/_Project/Fonts/Originals/NotoSansJP-VariableFont_wght.ttf?fileID=12800000&guid=01afdbb2366b91e48b3e0068999d14fb&type=3#NotoSansJP-VariableFont_wght');
    -unity-font-definition: url('project://database/Assets/_Project/Fonts/TMPro/NotoSansJP-VariableFont_wght%20SDF%201.asset?fileID=11400000&guid=fd80558de3c0dd44a803afb97296f897&type=2#NotoSansJP-VariableFont_wght SDF 1');
    -unity-font-style: bold;
    -unity-text-align: middle-left;
    font-size: 36px;
    letter-spacing: 2px;
    color: rgb(61, 54, 53);
}

.dialogueArea {
    width: 100%;
    height: 70%;
    background-image: url('project://database/Assets/_Project/Art/Sprites/UI/main_buttons.png?fileID=663925110&guid=2e0808dfba1f4ca4f87970b14a0d1dd9&type=3#dialogue_area');
    -unity-background-scale-mode: stretch-to-fill;
}

.dialogueBodyText {
    width: 80%;
    height: 80%;
    margin-top: 2%;
    margin-left: 2%;
    white-space: normal;
    font-size: 44px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
}

.dialogueAdvanceButton {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 10%;
    height: 40%;
    background-image: url('project://database/Assets/_Project/Art/Sprites/UI/Buttons.png?fileID=574945603&guid=d7193389d35aa7245a810a04d681ab18&type=3#Buttons_17');
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgba(88, 88, 88, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    transition-property: opacity;
    transition-duration: 0.3s;
}

.flyOutLeft {
    translate: -110% 0;
}

.flyOutRight {
    translate: 110% 0;
}
